@charset "UTF-8";

#imgprincipal {
    display: none;
}

aside {
    margin-top: 100px;
    margin-bottom: 100px;
}

.linkdbaixo {
    line-height: 2.5em;
}

#login {
    margin-top: 80px;
    border: none;
}

#cad {
    border: none;
}